#resume{
    margin-left: 25%;
    width: 50%;
}
#myphoto{
    margin-left: 40%;
    width: 20%;
    border-style: double;
    border-color: bisque;
    padding: 5px;
}
#cousinspic{
     width: 20%;
    border-style: double;
    border-color: bisque;
    padding: 5px;
}
#friendspic{
     width: 20%;
    border-style: double;
    border-color: bisque;
    padding: 5px;
}
.content{
    background-color: black;
    padding: 30px;
    margin-left: 27%;
    margin-right: 27%;
}
#bio{
    color:bisque;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 125%;
}
.info{
    margin-top: 40px;
    background-color: black;
    padding: 30px;
    display: inline-block;
    margin-left: 27%;
}
#contact{
    color:bisque;
    font-size: 125%;
    float: left;
}
#biotitle{
    margin-left: 30%;
    margin-right: 30%;
    font-size:150%;
    color:bisque;
    font-style: oblique;
    border-bottom: dotted;
}
.title{
    font-size:125%;
    color:bisque;
    font-style: oblique;
    border-bottom: dotted;
}
#media{
    color:bisque;
    font-size: 125%;
    float:right;
}
.info-link{
    color:bisque;
    text-decoration: none;
}
#filler{
    float:left;
}
.resumecontent{
    padding: 30px;
 
}
#projectlist{
    margin-left: 10%;
    margin-right: 10%;
}

.projecttitle{
    font-size: 150%;
    border-bottom: dotted;
}
.projectbio{
    display: inline-block;
    font-size: 125%;
}
.projectphoto{
    width: 100%;
    display: inline-block;
}
#PlanetGame{
    position: relative;
    background-color: black;
    color: bisque;
    padding: 20px;
    float:left;
}
#FPSGame{
    position: relative;
    background-color: black;
    color: bisque;
    padding: 20px;
    float: right;
}