:root{
    --pbackground: #5CDB95;
    --sbackground: #8EE4AF;
    --tbackground: #EDF5E1;
    --pdetail: #05386B;
    --sdetail: #379683;
}

#resume{
    margin-left: 25%;
    width: 50%;
}
#myphoto{
    margin-left: 40%;
    width: 20%;
    border-style: double;
    border-color: var(--pdetail);
    padding: 5px;
}
.newpic{
    width: 24%;
    border-style: double;
    border-color: var(--pdetail);
    padding: 0px;
}
.content{
    background-color: black;
    padding: 30px;
    margin-left: 27%;
    margin-right: 27%;
}
#bio{
    color:var(--tbackground);
    margin-left: 30%;
    margin-right: 30%;
    font-size: 125%;
}
.info{
    margin-top: 40px;
    background-color: black;
    padding: 30px;
    display: inline-block;
    margin-left: 27%;
}
#contact{
    color:var(--pbackground);
    font-size: 125%;
    float: left;
}
#biotitle{
    margin-left: 30%;
    margin-right: 30%;
    font-size:150%;
    color:var(--pbackground);
    font-style: oblique;
    border-bottom: dotted;
}
.title{
    font-size:125%;
    color:var(--pbackground);
    font-style: oblique;
    border-bottom: dotted;
}
#media{
    color:var(--pbackground);
    font-size: 125%;
    float:right;
}
.info-link{
    color:var(--pbackground);
    text-decoration: none;
}
#filler{
    float:left;
}
.resumecontent{
    padding: 30px;
 
}
#projectlist{
    margin-left: 10%;
    margin-right: 10%;
}

.projecttitle{
    font-size: 150%;
    border-bottom: dotted;
}
.projectbio{
    display: inline-block;
    font-size: 125%;
}
.projectphoto{
    width: 100%;
    display: inline-block;
}
#PlanetGame{
    position: relative;
    background-color: black;
    color: var(--pbackground);
    padding: 20px;
    float:left;
}
#FPSGame{
    position: relative;
    background-color: black;
    color: var(--pbackground);
    padding: 20px;
    float: right;
}
.skillstitle{
    color:var(--pbackground);
    font-size: 175%;
    border-bottom: dotted;
}
#skillslist{
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    padding:10px;
    margin-top: 50px;
    width: 80%;
}
.skill{
    font-size: 125%;
    color: var(--pbackground);
    list-style-type:square;
}