:root{
    --pbackground: #5CDB95;
}

body{
    background-color: var(--pbackground);
}
#linkslist{
    background-color: black;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
#links{
    float: left;
}
#links a{
    color:rgb(255, 105, 105);
    display: block;
    text-align: center;
    padding: 10px;
    font: 1.5em sans-serif;
    text-decoration: none;
}
#links a:hover:not(.current){
    background-color: rgb(70, 70, 70);
    cursor:pointer;
}
.current{
    background-color: rgb(48, 49, 110);
}
#pagetitle{
    text-align: center;
    color: black;
    border-bottom: solid;
}

